<launch>

  <!-- so the logging prints the node name -->
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}" />

  <!-- TOWR: Start the optimizer with GUI-->
  <include file="$(find towr_ros)/launch/towr_nodes.launch"></include>

  <!-- visualizes goal, opt. parameters and cartesian base state, endeffector positions and forces -->
  <node name="rviz_marker_node" pkg="xpp_vis" type="rviz_marker_node" output="screen">
  </node>

  <!-- Launch rviz with specific configuration -->
  <node name="rviz_xpp" pkg="rviz" type="rviz" args="-d $(find towr_ros)/rviz/xpp_towr.rviz">
  </node>

  <!--  Launches the URDF visualizers  -->
  <include file="$(find xpp_hyq)/launch/all.launch"></include>

  <!-- Upload URDF file to ros parameter server for rviz to find  -->
  <!-- <param name="quad_rviz_urdf_robot_description" command="$(find xacro)/xacro -inorder '$(find quadruped_description)/robots/quadruped.urdf.xacro'"/>-->

  <!-- Converts Cartesian state to joint state and publish TFs to rviz  -->
  <!-- <node name="quad_visualizer" pkg="quad_towr" type="quad_visualizer" output="screen"/> -->

</launch>
